<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.testruleonline.mapper.ConditionGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.testruleonline.entity.ConditionGroup">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="desc" property="desc" />
        <result column="condition_relation" property="conditionRelation" />
        <result column="condition_detail_name_list" property="conditionDetailNameList" />
        <result column="child_condition_group_name_list" property="childConditionGroupNameList" />
    </resultMap>

</mapper>
