<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.testruleonline.mapper.ConditionDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.testruleonline.entity.ConditionDetail">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="desc" property="desc" />
        <result column="tag_name" property="tagName" />
        <result column="operation" property="operation" />
        <result column="threshold_value" property="thresholdValue" />
        <result column="tag_value" property="tagValue" />
    </resultMap>

</mapper>
