<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.testruleonline.mapper.TReActnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.testruleonline.entity.TReActn">
        <id column="id" property="id" />
        <result column="actn_name" property="actnName" />
        <result column="actn_desc" property="actnDesc" />
        <result column="actn_type" property="actnType" />
        <result column="fun_name" property="funName" />
        <result column="tag_name" property="tagName" />
        <result column="tag_rng_name" property="tagRngName" />
        <result column="thr_value" property="thrValue" />
    </resultMap>

</mapper>
