<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.testruleonline.dao.mapper.TReCondMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.testruleonline.dao.entity.cond">
        <id column="id" property="id" />
        <result column="cond_name" property="condName" />
        <result column="cond_desc" property="condDesc" />
        <result column="tag_name" property="tagName" />
        <result column="operation" property="operation" />
        <result column="thr_value" property="thrValue" />
        <result column="result_tag_name" property="resultTagName" />
        <result column="tag_rng_name" property="tagRngName" />
        <result column="fun_name" property="funName" />
        <result column="cond_type" property="condType" />
        <result column="decline_reason" property="declineReason" />
    </resultMap>
    
</mapper>
