<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.testruleonline.dao.mapper.TReTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.testruleonline.dao.entity.tag">
        <id column="id" property="id" />
        <result column="tag_name" property="tagName" />
        <result column="tag_desc" property="tagDesc" />
        <result column="tag_type" property="tagType" />
    </resultMap>

</mapper>
